# Postgres
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=postgres
POSTGRES_PORT=5432
# Empty databases created on first start (comma separated)
POSTGRES_DATABASES=auth,accounts,promo

# Redis
REDIS_PORT=6379
